.navigation {
    @apply bg-blue-50 md:bg-opacity-50;
    @apply text-left text-gray-700;
    @apply z-10 fixed md:relative;
    @apply top-28 md:top-auto left-0 md:left-auto right-0 md:right-auto bottom-0 md:bottom-auto;
    @apply overflow-hidden;
    grid-area: nav;
}

@screen md {
    .navigation {
        max-height: 90vh;
    }
}

.wrapper {
    @apply container-fluid overflow-y-scroll py-8;

    height: 100%;
}

.navigation h3 {
    @apply text-lg;
}

.navigation ul {
    @apply text-sm pl-6;
}

.section {
    @apply mb-2.5;
}

.navigation .section svg {
    @apply w-5 text-sm;
}

.navigation .section svg + span {
    @apply align-middle;
}

.currentLink {
    @apply text-blue-400 text-opacity-80;
}